# configure your infura api key (technically required
# for networks other than development)
INFURA_API_KEY=

# change the mnemonic that your hd wallet is seeded with
# or directly use your ledger hardware wallet (if empty)
MNEMONIC=
